@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Righteous&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0A2647;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 40px;
}

.subtitulo {
    color: white;
    font-size: 24px;
}

.tarjetas, .tarjetas-ataques {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    width: 180px;
    height: 100px;
    background: #144272;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.3s ease;
}

.tarjeta-de-mokepon:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px #888888;
}

.tarjeta-de-mokepon img {
    width: 80px;
}

#boton-mascota {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    transition: all 0.3s ease;
}

#boton-mascota:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px #888888;
}

input {
    display: none;
}

input:checked + label {
    background-color: #2C74B3;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    background-color: #144272;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 100px;
    font-family: 'Poppins', sans-serif;
}

#boton-fuego:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #ffb02e;
}

#boton-agua:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #26c9fc;
}

#boton-tierra:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #86d72f;
}

#mensajes {
    width: 280px;
    background-color: #205295;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#resultado {
    color: white;
}

#boton-reiniciar {
    border: none;
    color: #144272;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
    border-radius: 20px;
    padding: 5px 50px;
}

#boton-reiniciar:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px #888888;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    text-align: center;
    color:white;
}

#victorias-jugador, #victorias-enemigo {
    font-size: 32px;
    margin-bottom: 0;
}

#mapa {
    margin-bottom: 10px;
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ver-mapa button {
    width: 70px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 5px;
    user-select: none; /* Avoid select the text if you click the button */
}

#ver-mapa button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #888888;
}

#flecha-arriba {
    transform: rotate(270deg);
}

#flecha-izquierda {
    transform: rotate(180deg);
}

#flecha-abajo {
    transform: rotate(90deg);
}

@media (max-width: 570px) {
    .tarjetas, .tarjetas-ataques {
        flex-direction: column;
    }
}

@media (max-width: 360px) {
    #ver-mapa div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}